#envoys.panel
  %h3
    Envoys:
  %dl
    %dt
      system_id
    %dd
      #{envoys.system_id}
    %dt
      envoys
    %dd
      %dl
        -envoys.envoys.each do |envoy|
          -envoy.each_pair do |k,v|
            %dt
              #{k}
            %dd
              #{v}