= javascript_include_tag "//www.google.com/jsapi", "chartkick"
.enlighten
  .row
    &nbsp;
  =render partial: 'shared/system_overview', locals: {title: "Power Chart For: #{@system.system_name}", system: @system}
  .row
    .small-12.columns
      -if @intervals && !@intervals.empty?
        =area_chart(@intervals.map{|interval|[interval['end_at'],interval['powr']]})
      -else
        .panel
          %dl
            %dt
              Stats are not available for
            %dd
              #{@system.system_public_name}