.row
  .small-12.columns
    %h1
      Enphase Systems:
    -@systems.each do |system|
      .panel
        .row
          .medium-4.columns
            =link_to system['system_public_name'], system_show_path(id: system['system_id'])
          .medium-4.columns
            #{system['city']}, #{system['state']}, #{system['country']},
          .medium-4.columns
            #{system['status']}