
.enlighten
  .row
    &nbsp;
  .row
    .small-12.columns
      =render partial: 'shared/system_overview', locals: {title: "Data For: #{@system.system_name}", system: @system}
  .row
    .large-4.columns
      =render partial: 'shared/system_summary', locals: {summary: @system.summary}
    .large-4.columns
      =render partial: 'shared/system_envoys', locals: {envoys: @system.envoys}
    .large-4.columns
      =render partial: 'shared/system_production', locals: {production: @production}
  .row
    .medium-4.columns
      =render partial: 'shared/system_inventory', locals: {system_name: @system.system_public_name, inventory: @inventory}
    .medium-8.columns
      =render partial: 'shared/system_stats', locals: {system_name: @system.system_public_name, stats: @stats}
