%nav.top-bar{role: 'navigation', 'data-topbar'=>'', 'data-options'=>"is_hover: false"}
  %ul.title-area
    / Title Area
    %li.name
      %h1
        =page_link('Enphase Enlighten Data Browser',nil,:systems,nil)
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span menu
  %section.top-bar-section
    / Right Nav Section
    -unless params[:action] == 'index'
      %ul.right
        %li.divider
        %li
          = page_link('Stats','', :systems, :show)
        %li
          = page_link('Power Graph','', :systems, :graph)

/ End Top Bar
/ End Navigation